body{
    background-color: peru;
}
nav{
    color:green;
}
nav li:hover{
    background-color:orangered;
    color:green;
    }
    
 nav li{
        background-color: green;
        border:1px orangered;
 }
.tarjeta {
	background-color:yellowgreen;}

.boton{
  background-color: orangered;
  color: white;}

h3{
    color:orangered; 
}
.GaleriaBoton{            
    color:yellowgreen;
}
.bodi{
    background-color:peru;
}
.parte0{
    background-color: yellow;
    color: orangered;
}
.parte1{
    background-color: yellow;
    color: orangered;
}
.parte2{
    color: yellow;}
.parte3{
    color: yellow;
}
.parte4{
   color: yellow;
}
.FormularioBoton{
    color:yellowgreen;
}
div.principal {
    background-color: yellowgreen;
    color: white;
  }
.gracias {
    background-color: orangered;
}